*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    background-image: url('assets/background3.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.card{
    max-width: 30rem;
    max-height: 50rem;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid #F4791F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 2rem;
    margin: 1rem;
    color: #f7f7f7;
    animation: teks 4s ease-in-out infinite;
}

.avatar img{
    width: 10rem;
    border-radius: 50%;
    /* From https://css.glass */
    background: rgba(33, 57, 104, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #F4791F;

}


.about p{
    text-align: center;
}
.description{
    text-align: center;
}

.button ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button ul li{
    list-style: none;
    padding: 5px 5rem;
    height: 3rem;
    border: 2px solid #F4791F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    animation: teks 3s ease-in-out infinite;
}

.button ul li a{
    text-decoration: none;
    color: #ffffff;
}

@keyframes teks{
    0%{
        border-color: #FF8734;
    }

    50%{
        border-color: #0062E0;
    }

    100%{
        border-color: #FF1D83;
    }
}

.button ul li img{
    width: 20px;
    position: absolute;
    left: 20px;
    filter: invert(100%);
}

@media (width <= 320px){

    .container{
        height: 100%;
        padding: 5px 0;
    }
    .card{
        width: 18rem;
        height: 100%;
        gap: 2rem;
        padding: 2rem;
    }

    .avatar img{
        width: 6rem;
    }

    .about h1{
        font-size: 1.3em;
        text-align: center;
    }

    .about p{
        font-size: 0.8em;
    }

    .description{
        font-size: 0.8em;
        text-align:center;
        
    }

    .button ul li{
        height: 2rem;
        font-size: 0.8em;
        
    }

    .button ul li img{
        width: 15px;
    }
}

@media (321px <= width <= 576px){
    .container{
        height: 100%;
    }

    .card{
        height: 100%;
    }

    .avatar img{
        width: 8rem;
    }

    .about h1{
        font-size: 1.5em;
        text-align: center;
    }

    .about p{
        font-size: 0.9em;
    }

    .description{
        font-size: 0.9em;
    }

    .button ul li{
        height: 2.5rem;
        font-size: 0.9em;
    }

    .button ul li img{
        width: 18px;
    }
}
